@charset "utf-8";

/*
 * TODO: RUN THROUGH PREFIXR
 */


/* =========== Fonts =========== */

@font-face {
  font-family: 'MuseoSans';
  src: url('../fonts/MuseoSans_500-webfont.eot');
  src: url('../fonts/MuseoSans_500-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/MuseoSans_500-webfont.woff') format('woff'), url('../fonts/MuseoSans_500-webfont.ttf') format('truetype'), url('../fonts/MuseoSans_500-webfont.svg#MuseoSans500') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'MuseoSlab';
  src: url('../fonts/Museo_Slab_500-webfont.eot');
  src: url('../fonts/Museo_Slab_500-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/Museo_Slab_500-webfont.woff') format('woff'), url('../fonts/Museo_Slab_500-webfont.ttf') format('truetype'), url('../fonts/Museo_Slab_500-webfont.svg#Museo_Slab500') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: corbelb;
  font-weight: normal;
  src: url(../fonts/CORBELB.TTF);
}
@font-face {
  font-family: calibrib;
  font-weight: normal;
  src: url(../fonts/CALIBRIB.TTF);
}
@font-face {
  font-family: franklin;
  font-weight: normal;
  src: url(../fonts/framd.ttf);
}

/* =========== General =========== */

body {
  font-family: Verdana, Geneva, sans-serif;
  font-size: 12px;
  color: #4d5154;
  background: url(../images/footer-background.jpg) no-repeat bottom center, url(../images/bg.jpg) no-repeat center top, url(../images/bg_repeat.jpg) repeat;
  /*text-shadow: 0 1px 1px #000;*/
}
*, ul, li, h1, h2, p, b {
  font-weight: normal;
  margin: 0px;
  padding: 0px;
  list-style: none;
  line-height: 1.5;
}
*:focus {
  outline: none;
}
.clear {
  clear: both;
}
input, select, textarea {
  box-sizing: content-box;
  -ms-box-sizing: content-box;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
}
a {
  text-decoration: none;
  color: #bd8421;
}
a:hover {
  color: #ffc437;
}
a img {
  border: none;
}
#left #left_menu li a, #top_menu li a, footer #logo {
  transition: 0.3s all;
  -webkit-transition: 0.3s all;
  -moz-transition: 0.3s all;
  -ms-transition: 0.3s all;
  -o-transition: 0.3s all;
}

/* =========== Main =========== */

#wrapper {
  width: 1024px;
  margin: 0 auto 0 auto;
  position: relative;
}
#header {
  width: 100%;
  height: 500px;
}
.top_container {
  width: 100%;
  height: 127px;
  padding: 24px 0 0 0;
}
#main {
  width: 1021px;
  height: auto;
  min-height: 1000px;
  background: url(../images/body_bg.png) repeat-y;
  position: relative;
  z-index: 5;
  border-radius: 5px;
  padding: 2px 2px 2px 1px;
  box-shadow: inset 0 0 0 1px #161b1e, inset 0 0 20px rgba(0, 0, 0, .25), inset 0 0 6px rgba(0, 0, 0, 1), 0 0 15px rgba(0, 0, 0, .35);
}
a#server_logo {
  position: absolute;
  top: 183px;
  left: -15px;
  display: block;
  width: 549px;
  height: 250px;
  background: url(../images/logo.png) no-repeat;
  z-index: 20;
}
a#server_logo p {
  display: none;
}
.top_border {
  position: relative;
  width: 1010px;
  height: 20px;
  background: url(../images/top_border.png) no-repeat;
  margin: 0 0 0 6px;
  z-index: 2;
}

/* =========== Top login & Account Info =========== */

.login_box_top {
  width: 1020px;
  height: 50px;
  z-index: 1;
}
.actions_cont {
  float: right;
  background: url(../images/top_login_bar.png) no-repeat;
  width: 466px;
  height: 50px;
  border-radius: 5px 5px 0 0;
  box-shadow: 0 0 20px rgba(0, 0, 0, .7)
}
.actions_cont .login_form_top {}
.actions_cont .login_form_top input[type="text"], .actions_cont .login_form_top input[type="password"], .actions_cont .login_form_top input[type="submit"] {
  display: inline-block;
  vertical-align: top;
}
.actions_cont .login_form_top input[type="text"], .actions_cont .login_form_top input[type="password"] {
  width: 154px !important;
  margin: 10px 0 0 10px;
}
.actions_cont .login_form_top input[type="submit"] {
  padding: 5px 15px 8px 15px;
  margin: 9px 0 0 10px;
  text-transform: uppercase;
  box-shadow: inset 0 2px 0 rgba(255, 255, 255, .04), inset 0 0 0 1px rgba(255, 255, 255, .02), 0 0 4px rgba(0, 0, 0, .7), inset 0 0 12px rgba(102, 204, 255, .08);
}
.actions_cont .account_info {}
.avatar_top {
  position: relative;
  float: left;
  width: 39px;
  height: 39px;
  margin: 5px 0 0 5px;
  border-radius: 3px;
  overflow: hidden;
  box-shadow: inset 0 0 0 1px rgba(255, 255, 255, .1), 0 0 4px rgba(0, 0, 0, .5);
  overflow: hidden;
}
.avatar_top img {
  position: absolute;
  z-index: 1;
  top: -1px;
  left: -1px;
}
.avatar_top span {
  display: block;
  width: 39px;
  height: 39px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  border-radius: 3px;
  box-shadow: inset 0 0 0 1px rgba(255, 255, 255, .2);
}
.actions_cont .account_info .left {
  float: left;
  width: auto;
  height: 50px;
  margin: 0 0 0 10px;
}
.account_info .left p {
  display: block;
  margin: 5px 0 0 0;
  color: #66747b;
  font-family: calibrib;
  font-size: 14px;
}
.account_info .left p span {
  font-weight: bold;
  color: #96a9b2;
}
.account_info .left .vpdp {
  font-size: 12px;
  color: #6e6c68;
  font-family: calibrib;
}
.account_info .left .vpdp .vp, .account_info .left .vpdp .dp {
  display: inline-block;
  margin: 0 15px 0 0;
}
.account_info .left .vpdp .vp span, .account_info .left .vpdp .dp span {
  color: #65686e !important;
  font-weight: bold;
}
.account_info .left .vpdp img {
  position: relative;
  margin: -2px 0 0 0;
}
.actions_cont .account_info .right {
  float: right;
  width: auto;
  height: 50px;
}
.account_info .right a.nice_button {
  position: relative;
  display: inline-block;
  padding: 7px 8px 7px 8px;
  text-transform: uppercase;
  font-size: 12px;
  margin: 9px 4px 0 0;
  box-shadow: inset 0 2px 0 rgba(255, 255, 255, .04), inset 0 0 0 1px rgba(255, 255, 255, .02), 0 0 4px rgba(0, 0, 0, .7), inset 0 0 12px rgba(102, 204, 255, .08);
}
.account_info .right a.nice_button:last-child {
  margin: 9px 8px 0 0;
}

/* =========== Top menu =========== */

#wrapper .top_menu {
  position: relative;
  width: 1020px;
  height: 77px;
  background-image: url(../images/topmenu_bar.jpg);
  text-align: center;
  position: relative;
  z-index: 8;
  border-radius: 5px 0 5px 5px;
  box-shadow: 0 0 20px rgba(0, 0, 0, .9), 0 0 8px rgba(0, 0, 0, .6), 0 1px 1px rgba(0, 0, 0, .5);
  z-index: 10;
}
#wrapper #top_menu {
  width: 1008px;
  height: 75px;
  border-radius: 6px;
  position: relative;
}
#top_menu li {
  display: inline-block;
  margin: 1px 0 0 0;
  position: relative;
  margin: 0 0 0 -4px;
  transition: all 600ms;
  -webkit-transition: all 600ms;
  -moz-transition: all 600ms;
  -ms-transition: all 600ms;
  -o-transition: all 600ms;
}
#top_menu li a {
  display: block;
  font-family: franklin;
  font-size: 14px;
  color: #aaa89f;
  text-shadow: 0 0 4px rgba(0, 0, 0, .6), 0 1px 1px rgba(0, 0, 0, .3);
  position: relative;
  z-index: 2;
  transition: all 400ms;
  -webkit-transition: all 400ms;
  -moz-transition: all 400ms;
  -ms-transition: all 400ms;
  -o-transition: all 400ms;
  background: url(../images/menu_item_left_bg.png) no-repeat left top, url(../images/menu_item_right_bg.png) no-repeat right top;
  padding: 27px 28px;
  transition: all 600ms;
  -webkit-transition: all 600ms;
  -moz-transition: all 600ms;
  -ms-transition: all 600ms;
  -o-transition: all 600ms;
}
#top_menu li a:hover {
  color: #f6c85c;
  text-shadow: 0 0 1px rgba(246, 200, 92, .5), 0 0 6px rgba(0, 38, 67, .81), 0 1px 1px rgba(0, 38, 67, .5), 1px 1px 0 rgba(0, 38, 67, .7), 0 0 12px rgba(102, 204, 255, .4);
}
#top_menu li:hover {
  background: rgba(0, 102, 204, .02);
  box-shadow: inset 0 0 35px 5px rgba(0, 0, 0, .3), 0 0 4px 1px rgba(0, 0, 0, .3);
}

/* Borders fixup */

#top_menu li:last-child a {
  background: url(../images/menu_item_left_bg.png) no-repeat left top, url(../images/menu_item_fl_bg.png) no-repeat right top;
}
#top_menu li:first-child a {
  background: url(../images/menu_item_fl_bg.png) no-repeat left top, url(../images/menu_item_right_bg.png) no-repeat right top;
}

/* =========== Left =========== */

#flash_content {
  position: relative;
  z-index: 1;
  width: 1026px;
  height: 359px;
  left: -1px;
}
#flash_content object {
  z-index: 1;
  position: relative;
}

/* =========== Left =========== */

#left {
  width: 284px;
  float: right;
}
#left article {
  margin: 0 0 3px 0;
}
#left article:last-child {}
#left article .top {}
#left article .top p {}
#left article .body {
  padding: 10px;
}
#left article.sidebox {
  width: 282px;
  height: auto;
  margin: 0 0 3px 1px;
  padding: 0;
  overflow: hidden;
  background: #101013 url(../images/sidebox.png) no-repeat top;
  border-radius: 4px;
  box-shadow: inset 0 0 0 1px #131316;
}
#left article.sidebox .top {
  width: 100%;
  height: 42px;
  font-family: calibrib;
  font-size: 14px;
  color: #848177;
}
#left article.sidebox .top p {
  padding: 11px 0 0 13px;
}

/* Left Menu */

#left #left_menu {
  position: relative;
}
#left #left_menu li {
  display: block;
  position: relative;
}
#left #left_menu li a {
  position: relative;
  display: block;
  font-family: calibrib;
  padding: 13px 13px 14px 13px;
  font-size: 14px;
  color: #4e5253;
  padding-left: 12px;
  background: url(../images/sidebar-menu.png) no-repeat;
  z-index: 3;
}
#left #left_menu li a img {
  margin-right: 10px;
  opacity: .7;
  position: relative;
  top: 3px;
  z-index: 2;
}
#left #left_menu li p {
  display: block;
  width: 97%;
  height: 38px;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(255, 255, 255, .03);
  z-index: 1;
  margin: 5px 0 0 5px;
  box-shadow: 0 0 6px rgba(255, 255, 255, .1);
  opacity: 0;
}
#left #left_menu li:hover p {
  opacity: 1;
}
#left #left_menu li a:hover {
  color: #d0a53d;
  padding-left: 28px;
  background: url(../images/sidebar-menu.png) no-repeat rgba(0, 0, 0, .25);
}
#left #left_menu a:hover img {
  opacity: 1;
}
#left .side_divider {
  position: relative;
  background: url(../images/side_divider.png) no-repeat;
  height: 22px;
  width: 258px;
  margin: 1px 0 0 -5px;
}

/* =========== Right =========== */

div.ornament-bar {
  background: url(../images/ornament-bar.jpg) no-repeat;
  width: 735px;
  height: 40px;
}
#right {
  width: 735px;
  float: left;
}
#right article {
  background: url(../images/page_bg.png) no-repeat top;
}
#right article:last-child {}
#right article .top {
  height: 52px;
  width: 714px;
  text-align: left;
  color: #f9b52d;
  font-size: 19px;
  text-transform: uppercase;
  font-family: calibrib;
  display: block;
  padding: 21px 0 0 25px;
  position: relative;
}
#right article .top div {
  display: block;
  position: absolute;
  top: 10px;
  left: 0;
  width: 292px;
  height: 35px;
  background: url(../images/title_overlay.png) no-repeat;
  pointer-events: none;
}
#right article .top span {
  color: #697a89;
}
#right article .body {
  padding: 12px 15px 15px 15px;
  color: #4d4c4b;
  min-height: 600px;
}
#right article .divider {
  background-image: url(../images/divider.png);
  background-position: center;
  height: 26px;
  margin-top: 15px;
}
#right article .news_bottom {
  margin-top: 15px;
}
#right article .news_bottom a {
  color: #a07332;
}
#right article .news_bottom a:hover {
  color: #ffc437;
}
#right article .comments_button {
  float: right;
  display: block;
}
.avatar {
  float: left;
  position: relative;
  margin: 3px 15px 3px 5px;
  border: none;
  box-shadow: 0 0 15px rgba(0, 0, 0, .5);
}
.avatar img {
  position: relative;
  display: block;
}

/* News */

h1#news_title {
  display: block;
  margin: 17px 0 0 15px;
  padding: 0;
  width: 99px;
  height: 15px;
  background: url(../images/latest_news.png) no-repeat;
}
h1#news_title p {
  display: none;
}
#right article.news_row {
  background: url(../images/news-bot-shadow.png) no-repeat bottom, url(../images/news-background.png) no-repeat top;
}
.news_head {
  height: 36px;
  padding: 14px 0 0 14px;
  position: relative;
}
.news_head a.top {
  padding: 0 !important;
  margin: 0 !important;
  font-family: corbelb !important;
  font-size: 15px !important;
  color: #969387 !important;
  height: auto !important;
  text-shadow: 0 0 6px #000, 1px 1px 0 #000;
  text-transform: none !important;
}
.news_row .body {
  min-height: 0px !important;
}
.news_row .body p img {
  margin: 5px 0 0 0;
}
.post_info {
  background: url(../images/news_bot_border.png) no-repeat top center;
  padding: 16px 0 0 0;
  margin: 6px 0 0 0;
}
.post_info p {
  color: #525959;
  font-family: calibrib;
  font-size: 12px;
  float: left;
}
.post_info p a {
  color: #938f85;
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 1);
}
.post_info a.comments_button {
  display: block;
  color: #76736a;
  float: right;
  font-family: calibrib;
  font-size: 12px;
}
.post_info a.comments_button:hover {
  color: #e2b038;
}
#right article.news_row section {
  font-size: 13px;
  font-family: Arial, Helvetica, sans-serif;
}

/* Account Panel & Register */

.accp_register {
  position: absolute;
  width: 209px;
  height: 43px;
  z-index: 99;
  top: 0;
  right: 80px;
}
.accp_register #register_button {
  background-image: url(../images/register.jpg);
  background-repeat: no-repeat;
  background-position: 0 0;
  display: block;
  width: 209px;
  height: 43px;
}
.accp_register #register_button h1 {
  display: none;
}
.accp_register #register_button:hover {
  background-position: 0 -43px;
}
.accp_register #accp_button {
  background-image: url(../images/userpanel.jpg);
  background-repeat: no-repeat;
  background-position: 0 0;
  display: block;
  width: 209px;
  height: 43px;
}
.accp_register #accp_button h1 {
  display: none;
}
.accp_register #accp_button:hover {
  background-position: 0 -43px;
}

/* =========== Footer =========== */

footer {
  height: 170px;
  color: #0e2339;
  font-size: 14px;
  text-align: right;
}
footer h3 {
  vertical-align: top;
  display: inline-block;
  color: #434748;
  font-size: 13px;
  text-shadow: 0 0 4px rgba(0, 0, 0, .4), 1px 1px 0 rgba(0, 0, 0, .4);
  position: relative;
  margin: 73px 40px 0 0;
}
footer a#evil-logo {
  vertical-align: top;
  position: relative;
  display: inline-block;
  width: 37px;
  height: 37px;
  padding: 0;
  background-image: url(../images/evil-logo.png);
  margin: 65px 10px 0 0;
  border-radius: 4px;
  box-shadow: 0 0 8px rgba(0, 0, 0, .5), 0 1px 1px rgba(0, 0, 0, .6), inset 0 1px 0 rgba(255, 255, 255, .04);
}
footer a#evil-logo span {
  display: none;
}
footer a#fcms-logo {
  vertical-align: top;
  position: relative;
  display: inline-block;
  width: 140px;
  height: 37px;
  padding: 0;
  background-image: url(../images/fusion-cms-logo.png);
  margin: 65px 30px 0 0;
  border-radius: 4px;
  box-shadow: 0 0 8px rgba(0, 0, 0, .5), 0 1px 1px rgba(0, 0, 0, .6), inset 0 1px 0 rgba(255, 255, 255, .04);
}
footer a#fcms-logo span {
  display: none;
  width: 140px;
  height: 37px;
}
footer a#evil-logo:hover, footer a#fcms-logo:hover {
  background-color: rgba(255, 255, 255, .04);
  transition: all 800ms;
  -webkit-transition: all 800ms;
  -moz-transition: all 800ms;
  -ms-transition: all 800ms;
  -o-transition: all 800ms;
  box-shadow: inset 0 0 15px rgba(0, 0, 0, .2), 0 0 8px rgba(0, 0, 0, .5), 0 1px 1px rgba(0, 0, 0, .6), inset 0 1px 0 rgba(255, 255, 255, .04);
}

/* =========== CMS: general =========== */

#slider_bg {
  width: 734px;
  height: 204px;
  position: relative;
  padding: 0 0 50px 0;
  z-index: 2;
  margin: 0 0 0 1px;
  background: url(../images/slider_bot.png) no-repeat bottom;
  overflow: visible !important;
}
#slider {
  width: 734px;
  height: 204px;
  border-radius: 5px;
  overflow: visible !important;
}
#slider .overlay {
  width: 735px;
  height: 204px;
  position: absolute;
  top: 0;
  left: 0;
  background: url(../images/slider_frame.png) no-repeat;
  z-index: 15;
}
#slider a#slider_next, #slider a#slider_previous {
  color: #c3b8a6;
  font-weight: bold;
  z-index: 100;
  background-image: url(../images/slider_arrows.png);
  background-color: transparent;
  width: 23px;
  height: 26px;
  padding: 0;
}
.images {
  width: 734px !important;
  border-radius: 6px;
}
#slider a#slider_next {
  display: block;
  position: absolute;
  background-position: -23px 0;
  top: 217px !important;
  left: 695px !important;
}
#slider a#slider_next:hover {
  background-position: -23px -26px;
}
#slider a#slider_previous {
  display: block;
  position: absolute;
  background-position: 0 0;
  top: 217px !important;
  left: 668px !important;
}
#slider a#slider_previous:hover {
  background-position: 0 -26px;
}

/* =========== CMS: general =========== */

.nice_button, input[type="submit"] {
  height: 18px;
  background: url(../images/submit_bg.png) repeat-x;
  border-radius: 3px;
  text-align: center;
  padding: 7px 8px 9px 8px;
  font-size: 14px;
  color: #ac872f;
  text-shadow: 0 1px 1px rgba(0, 0, 0, .4), 0 0 3px rgba(0, 0, 0, .4);
  font-family: calibrib;
  margin-top: 10px;
  background-position: middle;
  border: none;
  cursor: pointer;
  transition: all 400ms;
  -webkit-transition: all 400ms;
  -moz-transition: all 400ms;
  -ms-transition: all 400ms;
  -o-transition: all 400ms;
  box-shadow: inset 0 2px 0 rgba(255, 255, 255, .04), inset 0 0 0 1px rgba(255, 255, 255, .02), 0 0 4px rgba(0, 0, 0, .7);
}
.nice_button:hover, .nice_active, input[type="submit"]:hover {
  background-position: 0px -34px;
}
.nice_button:active, input[type="submit"]:active {
  box-shadow: 1px 1px 0px #020508, 0px 2px 5px #000 inset;
  -webkit-box-shadow: 1px 1px 0px #020508, 0px 2px 5px #000 inset;
  -moz-box-shadow: 1px 1px 0px #020508, 0px 2px 5px #000 inset;
  -ms-box-shadow: 1px 1px 0px #020508, 0px 2px 5px #000 inset;
  -o-box-shadow: 1px 1px 0px #020508, 0px 2px 5px #000 inset;
}

/* OVERWRITE
----------------------------------------------*/


/* Realm */

div.realm {
  margin: -7px 0 0 -9px !important;
  padding: 10px 13px 0 13px;
  color: #eba215 !important;
  width: 254px;
  height: 59px;
  font-family: corbelb;
  font-size: 14px;
  color: #979489 !important;
  background: url(../images/realm_bg.png) no-repeat;
}
div.realm h1 {
  color: #979489 !important;
}
div.realm_online {
  color: #5f6971 !important;
  font-weight: normal !important;
}
#left .realm .realm_bar, .poll_bar {
  width: 100%;
  margin: 0 !important;
  height: 16px !important;
  border-radius: 3px !important;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .6), inset 0 0 6px rgba(255, 255, 255, .02), 0 0 4px rgba(255, 255, 255, .03), 0 1px 0 rgba(255, 255, 255, .04);
  border: none !important;
  background: #0a0a0d;
  padding: 1px;
  overflow: hidden;
  margin: 0;
  position: relative;
  top: 6px;
}
#left .realm .realm_bar .realm_bar_fill, .poll_bar_fill {
  width: auto;
  height: 17px !important;
  background: url(../images/bar_fill_repeat.png) repeat-x, url(../images/bar_fill_left.png) no-repeat left, url(../images/bar_fill_right.png) no-repeat right, url(../images/pull-fill.gif) repeat-x;
  margin: 0 !important;
  border-radius: 2px !important;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, .12);
}
div#realmlist {
  margin: -10px 0 0 0 !important;
  border: none !important;
  background: rgba(0, 0, 0, .3) !important;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, .3), 0 1px 0 rgba(255, 255, 255, .02), inset 0 0 5px rgba(255, 255, 255, .02);
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 1), 0 0 6px rgba(0, 0, 0, .6);
  padding: 7px 0 8px 0 !important;
  color: #4d4c4b !important;
  font-family: calibrib;
  font-size: 13px !important;
  font-weight: bold !important;
}
div#realmlist p {
  color: #6a6967 !important;
}

/* Comments */

.comment, .message_box {
  background-color: #131316 !important;
  border: none !important;
  box-shadow: 0 0 5px rgba(0, 0, 0, .3), inset 0 0 0 1px rgba(255, 204, 0, .01) !important;
}

/* Account Panel */

.item_group {
  background: rgba(0, 0, 0, .2);
}
.location {
  background: rgba(0, 0, 0, .8);
  transition: all 700ms;
  -webkit-transition: all 700ms;
  -moz-transition: all 700ms;
  -ms-transition: all 700ms;
  -o-transition: all 700ms;
}
.location:hover {
  background: rgba(0, 0, 0, .7);
  box-shadow: 0 0 3px 1px rgba(0, 0, 0, .8), 0 0 25px rgba(255, 204, 0, .4);
}
#sidebox_login {
  text-align: left;
}
#sidebox_login input[type="text"], #sidebox_login input[type=password] {
  width: 90%;
}
#sidebox_login input[type="submit"] {
  margin: 8px 0 0 5px;
}
#shoutbox {}
.shout_characters_remaining {
  position: relative;
  position: relative;
  left: 75px;
  top: 4px;
}
#shoutbox form input[type="submit"] {
  position: relative;
  margin: 7px 4px 0 0 !important;
  float: right;
  padding: 7px 8px 9px 8px !important;
}
#shoutbox form textarea {
  display: block;
  position: relative;
  overflow: hidden;
  height: 17px !important;
  max-width: 92%;
  min-width: 92%;
  max-height: 17px;
  min-height: 17px;
}
#shoutbox form textarea:focus {
  height: 70px !important;
  max-height: 70px;
  min-height: 70px;
}
#left #the_shouts .shout {
  position: relative;
  border: none !important;
  background: url(../images/shout_sep.png) no-repeat center bottom;
  padding: 8px;
}
#left #the_shouts .shout:last-child {
  background: none !important;
  margin: 0 !important;
  padding: 8px 8px 4px 8px !important;
}
#left #the_shouts .shout:first-child {
  padding: 0 8px 8px 8px !important;
  margin: -4px 0 0 0 !important;
}
.shout_author {
  font-family: calibrib;
  font-size: 13px;
}
.shout_date {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 11px;
  color: #323437;
}
.shout_date a {
  position: relative;
  top: -1px;
}
.shout_date a img {
  width: 11px;
  height: 11px;
}
.nice_active {
  position: relative;
  top: -4px;
  transition: background 400ms;
  -webkit-transition: background 400ms;
  -moz-transition: background 400ms;
  -ms-transition: background 400ms;
  -o-transition: background 400ms;
}
#cart_items .store_item {
  border-radius: 5px;
  box-shadow: inset 0 0 8px rgba(255, 255, 255, .04), 0 0 5px rgba(0, 0, 0, .5);
  border: none !important;
  margin: 0 0 8px 0;
  position: relative;
}
.store_item {
  border-radius: 5px;
  border: none !important;
  background: rgba(255, 255, 255, .01);
  margin: 0 0 8px 0;
  box-shadow: inset 0 0 8px rgba(255, 255, 255, .04), 0 0 5px rgba(0, 0, 0, .5);
}
.store_item .nice_button {
  position: relative;
  top: -5px;
}

/* Item Store LONG NAME item hover fix */

#cart_items .store_item {
  height: auto;
}
#cart .store_item:hover .item_name, #cart .store_item:hover .item_realm {
  margin-left: 0 !important;
}
#cart .delete_item {
  float: right;
  display: block;
  width: 17px !important;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  bottom: 8px;
  right: -2px;
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -o-transition: 0.5s all;
  -ms-transition: 0.5s all;
  transition: 0.5s all;
}
#cart .store_item .item_name {
  font-size: 11px !important;
  line-height: 1px !important;
  float: none !important;
}
#cart .store_item .item_realm {
  float: none !important;
}
#cart .store_item:hover .delete_item {
  width: 17px;
  opacity: 1;
}

/* Teleporter */

.select_character {
  margin: 0 0 8px 0 !important;
}
.character {
  margin: 0 !important;
}
#select_character .item_group {
  border-radius: 5px;
  margin: 0 0 8px 0 !important;
}

/* UCP Menu */

#ucp_buttons a {
  border: none !important;
}
#ucp_buttons a:hover {
  background-position: 0 -95px !important;
}

/* Sword */

.sword {
  position: absolute;
  top: 490px;
  left: 480px;
  z-index: 999;
  pointer-events: none;
  width: 378px;
  height: 101px;
  background: url(../images/sword.png) no-repeat;
}

/* Banners */

a#vote_banner {
  width: 284px;
  height: 111px;
  display: block;
  position: relative;
  margin: -24px 0 0 1px;
  background-image: url(../images/vote_banner.png);
  background-color: transparent;
}
a#vote_banner p {
  display: none;
}
a#vote_banner:hover {
  background-position: 0 -111px;
}
a#register_banner {
  width: 284px;
  height: 123px;
  display: block;
  position: relative;
  margin: -36px 0 0 1px;
  background-image: url(../images/register_banner.png);
  background-color: transparent;
}
a#register_banner p {
  display: none;
}
a#register_banner:hover {
  background-position: 0 -123px;
}

/* News */

#news_pagination {
  text-align: center;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 10px;
}
#news_pagination a {
  color: #666;
  margin: 5px;
}
#news_pagination a:hover {
  text-decoration: none;
}
.comments {
  display: none;
}
.comments form {
  margin: 15px;
  width: 288px;
  text-align: right;
}
.comments textarea {
  width: 270px;
  height: 50px;
}
.comments_area {
  float: right;
  margin-top: 15px;
  margin-right: 15px;
}
.comment {
  width: 354px;
  padding: 8px;
  line-height: 1.5;
  margin-bottom: 15px;
  overflow: hidden;
}
.comment a img {
  float: left;
  margin-right: 10px;
}
.staff-comment a img {
  float: left;
  margin-right: 10px;
}
.comment_author {
  font-weight: bold;
  display: block;
  width: 85%;
}
.comment_author:hover {
  text-decoration: none;
}
.comment_date {
  float: right;
  font-size: 10px;
}
.page_form table {
	width:60%;
	margin-left:auto;
	margin-right:auto;
}

.page_form table td:first-child {
	padding-left:20px;
	width:20%;
}

.page_form label {
	font-size:14px;
	margin-right:15px;
}

#ucp_top {
	padding:5px;
	padding-bottom:10px;
}

#ucp_avatar {
	display:block;
	float:left;
	width:120px;
	height:120px;
}

/* Avatar hover overlay */
#ucp_avatar div {
	position:absolute;
	opacity:0;
	filter:alpha(opacity=0);
	text-align:center;
	font-size:14px;
	background-color:rgba(0,0,0,0.6);
	-webkit-transition:all 0.3s;
	-moz-transition:all 0.3s;
	transition:all 0.3s;
	width:120px;
	height:70px;
	padding-top:50px;
	color:#fff;
}

#ucp_avatar:hover div {
	opacity:1;
	filter:alpha(opacity=100);
}

#ucp_info {
	float:left;
	height:120px;
}

/* #ucp_info columns*/
#ucp_info aside {
	float:left;
	width:250px;
	height:120px;
}

#ucp_info aside table {
	margin-left:auto;
	margin-right:auto;
}

/* First column in the #ucp_info */
#ucp_info aside:first-child {
	margin-right:20px;
}

#ucp_info td {
	padding:4px;
}

#ucp_buttons {
	margin-top:-15px;
}

#ucp_buttons a {
	display:block;
	width:330px;
	height:93px;
	background-position:0px 0px;
	float:left;
	margin-bottom:15px;
	margin-left:12px;
}

#ucp_buttons a:hover {
	background-position:0px 93px;
}

#ucp_characters {
	margin-top:-20px;
	padding-left:10px;
	padding-right:10px;
}

/* UCP: character list, character */
#ucp_characters a {
	float:left;
	display:block;
	margin-right:10px;
	margin-bottom:15px;
}

/* UCP: character list, realm headline */
#ucp_characters h1 {
	clear:both;
}

.item {
	width:70px;
	height:70px;
}

.item a {
	background-image:url(../../../images/misc/item_frame.png);
	width:68px;
	height:68px;
	margin-top:-6px;
	margin-left:-6px;
	position:absolute;
	z-index:999;
	display:block;
}

.socket-prismatic { margin-left: 1px; padding-left: 26px; background: url(../css/images/sockets/socket-prismatic.gif) no-repeat left center }
.socket-hydraulic { margin-left: 1px; padding-left: 26px; background: url(../css/images/sockets/socket-hydraulic.gif) no-repeat left center }
.socket-cogwheel { margin-left: 1px; padding-left: 26px; background: url(../css/images/sockets/socket-cogwheel.gif) no-repeat left center }

#armory_top {
	padding:10px;
}

#armory_top img {
	float:left;
	display:block;
	width:64px;
	height:64px;
	margin-right:15px;
}

#armory_name {
	float:left;
	margin-top:-8px;
}

#armory_top h1 {
	margin:0px;
	padding:0px;
	font-size:40px;
	font-weight:normal;
	overflow:hidden;
	height:60px;
	width:400px;
}

#armory_top h1 a {
	font-size:18px;
}

#armory_top h2 {
	margin:0px;
	padding:0px;
	margin-top:-5px;
	font-size:16px;
	font-weight:normal;
}

#armory_top h2 i {
	opacity:0.7;
}

#armory_bars {
	float:right;
}

#armory_bars div {
	height:22px;
	width:170px;
	color:#fff;
	text-shadow:1px 1px 0px #1e1e1e;
	text-align:center;
	padding-top:8px;
	margin-bottom:10px;
	border-radius:2px;
	-moz-border-radius:2px;
	-webkit-border-radius:2px;
	box-shadow:0px 1px 0px rgba(255,255,255,0.3) inset;
	-moz-box-shadow:0px 1px 0px rgba(255,255,255,0.3) inset;
	-webkit-box-shadow:0px 1px 0px rgba(255,255,255,0.3) inset;
}

#armory_health {
	background-image: linear-gradient(bottom, #2AA728 100%, #199517 0%);
	background-image: -o-linear-gradient(bottom, #2AA728 100%, #199517 0%);
	background-image: -moz-linear-gradient(bottom, #2AA728 100%, #199517 0%);
	background-image: -webkit-linear-gradient(bottom, #2AA728 100%, #199517 0%);
	background-image: -ms-linear-gradient(bottom, #2AA728 100%, #199517 0%);
	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(1, #2AA728),
		color-stop(0, #199517));
	background-color:#199517;
	border:1px solid #22600c;
}

#armory_mana {
	background-image: linear-gradient(bottom, #2876a7 100%, #176595 0%);
	background-image: -o-linear-gradient(bottom, #2876a7 100%, #176595 0%);
	background-image: -moz-linear-gradient(bottom, #2876a7 100%, #176595 0%);
	background-image: -webkit-linear-gradient(bottom, #2876a7 100%, #176595 0%);
	background-image: -ms-linear-gradient(bottom, #2876a7 100%, #176595 0%);
	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(1, #2876a7),
		color-stop(0, #176595)
	);
	background-color:#176595;
	border:1px solid #0c3e5d;
}

#armory_rage {
	background-image: linear-gradient(bottom, #a72828 100%, #951717 0%);
	background-image: -o-linear-gradient(bottom, #a72828 100%, #951717 0%);
	background-image: -moz-linear-gradient(bottom, #a72828 100%, #951717 0%);
	background-image: -webkit-linear-gradient(bottom, #a72828 100%, #951717 0%);
	background-image: -ms-linear-gradient(bottom, #a72828 100%, #951717 0%);
	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(1, #a72828),
		color-stop(0, #951717)
	);
	background-color:#951717;
	border:1px solid #5d0c0c;
}

#armory_focus {
	background-image: linear-gradient(bottom, #863d14 0%, #a74b14 100%);
	background-image: -o-linear-gradient(bottom, #863d14 0%, #a74b14 100%);
	background-image: -moz-linear-gradient(bottom, #863d14 0%, #a74b14 100%);
	background-image: -webkit-linear-gradient(bottom, #863d14 0%, #a74b14 100%);
	background-image: -ms-linear-gradient(bottom, #863d14 0%, #a74b14 100%);
	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0, #863d14),
		color-stop(1, #a74b14)
	);
	background-color:#a74b14;
	border:1px solid #5d300c;
}

#armory_energy {
	background-image: linear-gradient(bottom, #a78828 100%, #957917 0%);
	background-image: -o-linear-gradient(bottom, #a78828 100%, #957917 0%);
	background-image: -moz-linear-gradient(bottom, #a78828 100%, #957917 0%);
	background-image: -webkit-linear-gradient(bottom, #a78828 100%, #957917 0%);
	background-image: -ms-linear-gradient(bottom, #a78828 100%, #957917 0%);
	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(1, #a78828),
		color-stop(0, #957917)
	);
	background-color:#957917;
	border:1px solid #5d4b0c;
}

#armory_runic {
	background-image: linear-gradient(bottom, #28a3a7 100%, #179195 0%);
	background-image: -o-linear-gradient(bottom, #28a3a7 100%, #179195 0%);
	background-image: -moz-linear-gradient(bottom, #28a3a7 100%, #179195 0%);
	background-image: -webkit-linear-gradient(bottom, #28a3a7 100%, #179195 0%);
	background-image: -ms-linear-gradient(bottom, #28a3a7 100%, #179195 0%);
	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(1, #28a3a7),
		color-stop(0, #179195)
	);
	background-color:#179195;
	border:1px solid #0c5d58;
}

#armory {
	width:698px;
	margin-left:auto;
	margin-right:auto;
	min-height:512px;
	background-position:top center;
	background-repeat:no-repeat;
}

#armory_stats {
	float:left;
	width:367px;
	height:232px;
	margin-left:58px;
	margin-top:145px;
	text-shadow:1px 1px 0px #000;
	overflow:hidden;
}

#armory_stats_top a {
	color:#ccc;
	font-size:14px;
	margin-right:20px;
	margin-left:20px;
}

#armory_stats a:hover {
	color:#fff;
}

.armory_current_tab {
	font-weight:bold;
	color:#fff !important;
}

#armory_stats section {
	display:none;
	color:#fff;
	margin-top:8px;
}

#armory_stats td {
	padding:7px;
	font-size:14px;
}

#armory_stats table {
	margin-left:auto;
	margin-right:auto;
}

#armory_stats_next a {
	border:1px solid #3a3a3a;
	background-image: linear-gradient(bottom, rgba(200,200,200,0.3) 0%, rgba(255,255,255,0.3) 100%);
	background-image: -o-linear-gradient(bottom, rgba(200,200,200,0.3) 0%, rgba(255,255,255,0.3) 100%);
	background-image: -moz-linear-gradient(bottom, rgba(200,200,200,0.3) 0%, rgba(255,255,255,0.3) 100%);
	background-image: -webkit-linear-gradient(bottom, rgba(200,200,200,0.3) 0%, rgba(255,255,255,0.3) 100%);
	background-image: -ms-linear-gradient(bottom, rgba(200,200,200,0.3) 0%, rgba(255,255,255,0.3) 100%);
	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(1, rgba(255,255,255,0.3)),
		color-stop(0, rgba(200,200,200,0.3))
	);
	text-shadow:1px 1px 0px #000;
	box-shadow:0px 1px 0px #a2a2a2 inset;
	-webkit-box-shadow:0px 1px 0px #a2a2a2 inset;
	-moz-box-shadow:0px 1px 0px #a2a2a2 inset;
	color:#fff;

	width:80px;
	padding:3px;
	border-radius:5px;
	font-size:14px;
}

#armory_stats_next a:active {
	box-shadow:0px 0px 5px #151515 inset;
	-webkit-box-shadow:0px 0px 5px #151515 inset;
	-moz-box-shadow:0px 0px 5px #151515 inset;
	color:#c1c1c1;
}

#armory_stats_next {
	margin-top:10px;
}

#armory_stats td:first-child {
	color:#fff;
}

#armory_stats td:nth-child(2) {
	text-align:right;
}

#armory_left {
	float:left;
	margin-left:40px;
	margin-top:15px;
	width:68px;
}

#armory_right {
	float:left;
	margin-top:15px;
	margin-left:65px;
	width:70px;
}

#armory_bottom .item {
	float:left;
}

#armory_bottom {
	clear:both;
	margin-left:auto;
	margin-right:auto;
	width:222px;
	height:70px;
}

#tab_armory_1, #tab_armory_2, #tab_armory_3 {
	width:367px;
}

/* Professions & Activity */

#armory_mid_info {
	font-size: 16px;
	display:block;
	color:#b38e3f;
	}
	#armory_mid_info h3 {
	font-size: 16px;
	color: #B38E3F;
	margin: 10px 0 0 0;
	}

	#armory_mid_info .professions {
	float: left;
	margin-left: 25px;
	}
	#armory_mid_info .professions .profession-empty {
		display:  block;
		width: 284px;
		height: 24px;
		color: #434749;
		background: rgba(153, 153, 153, 0.07);
		box-shadow: inset 0 0 0 1px rgba(255, 255, 255, .02), 0 0 4px rgba(0, 0, 0, .6);
		-moz-border-radius: 3px;
		-webkit-border-radius: 3px;
		border-radius: 3px;
		margin: 8px 0 0 0;
		font-size: 12px;
		line-height: 24px;
		text-align: center;
		}

	/* Progress bar */

	.profile-progress {
		-moz-border-radius: 3px;
		-webkit-border-radius: 3px;
		border-radius: 3px;
		color: white;
		background: rgba(255,255,255,.1);
		width: 284px; height: 24px;
		margin: 8px 0 0 0;
		text-align: left;
		position: relative;
		}
		.profile-progress .bar {
			-moz-border-radius: 3px;
			-webkit-border-radius: 3px;
			border-radius: 3px;
			display: block;
			height: 24px;
			z-index: 1;
			left: 0;
			top: 0;
			position: absolute;
			-moz-border-radius-bottomright: 0;
			-webkit-border-bottom-right-radius: 0;
			border-radius-bottomright: 0;
			-moz-border-radius-topright: 0;
			-webkit-border-top-right-radius: 0;
			border-radius-topright: 0;

			background: rgb(34,102,20);
			background: -moz-linear-gradient(left,  rgba(34,102,20,1) 0%, rgba(42,186,47,1) 50%, rgba(34,102,20,1) 100%);
			background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(34,102,20,1)), color-stop(50%,rgba(42,186,47,1)), color-stop(100%,rgba(34,102,20,1)));
			background: -webkit-linear-gradient(left,  rgba(34,102,20,1) 0%,rgba(42,186,47,1) 50%,rgba(34,102,20,1) 100%);
			background: -o-linear-gradient(left,  rgba(34,102,20,1) 0%,rgba(42,186,47,1) 50%,rgba(34,102,20,1) 100%);
			background: -ms-linear-gradient(left,  rgba(34,102,20,1) 0%,rgba(42,186,47,1) 50%,rgba(34,102,20,1) 100%);
			background: linear-gradient(to right,  rgba(34,102,20,1) 0%,rgba(42,186,47,1) 50%,rgba(34,102,20,1) 100%);
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#226614', endColorstr='#226614',GradientType=1 );

			}
		.profile-progress.completed .bar {
			-moz-border-radius: inherit;
			-webkit-border-radius: inherit;
			border-radius: inherit;
			}
		.profile-progress .bar-contents {
			position: relative;
			top: 0;
			left: 0;
			font-size: 12px;
			line-height: 24px;
			z-index: 5;
			text-shadow: #000 1px 1px 1px ;
			}

	.icon-frame { margin-right: 2px; display: inline-block; overflow: hidden; padding: 1px; background-color: #000; background-position: 1px 1px; background-repeat: no-repeat; -moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px; border: 1px solid #434445; border-bottom-color: #2f3032; border-top-color: #b1b2b4; }
	.icon-frame img { display: block; vertical-align: bottom; }
	.icon-frame.frame-12 { height: 16px; width: 16px; }
	.icon-frame.frame-56 { height: 56px; width: 56px; -moz-box-shadow: #000 0 0 10px; -webkit-box-shadow: #000 0 0 10px; box-shadow: #000 0 0 10px; }

	/* Achievement Tooltips */

	.wiki-tooltip { position: relative; padding: 3px; max-width: 400px; }
	.wiki-tooltip .frame-56 { position: absolute; top: -8px; left: -71px; }
	.wiki-tooltip h3 { font-size: 16px; font-weight: normal; } /* title of the tooltip */
	.wiki-tooltip h3 span { float: right; margin-left: 5px; }

	.color-tooltip-yellow { color: #ffd100 !important; }
	.color-tooltip-red { color: #f00 !important; }
	.color-tooltip-green { color: #0f0 !important; }
	.color-tooltip-blue { color: #71D5FF !important; }
	.color-tooltip-beige { color: #FFFF98 !important; }

	/* Professions */

	.professions .profession {
		position: relative;
		}
		.professions .profession-details {
			position: absolute;
			width: 284px; height: 24px;
			display: block;
			left: 0;
			top: 0;
			text-shadow: 1px 1px 1px #000;
			}
			.professions .profession-details:hover {
				background-color: rgba(255, 255, 255, 0.15);
				-moz-border-radius: 3px;
				-webkit-border-radius: 3px;
				border-radius: 3px;
				}
			.professions .profession-details span {
				float: left;
				color: white;
				}
			.professions .icon {
				margin: 2px 0 0 2px;
				}
			.professions .name {
				line-height: 24px;
				font-size: 11px;
				margin-left: 5px;
				}
			.professions .value {
				line-height: 24px;
				padding-right: 6px;
				font-family: 'Arial Black', Verdana, Arial, sans-serif;
				font-weight: bold;
				float: right !important;
				}

	#armory_mid_info .recent-activity {
		float: left;
		width: 380px;
		margin-left: 0px;
		}
		.recent-activity .achievements {
			list-style: none;
			margin-top: 5px;
			background: rgba(153,153,153,0.07);
			border-radius: 3px;
			box-shadow: inset 0 0 0 1px rgba(255,255,255,.02), 0 0 4px rgba(0,0,0,.6);
			padding: 10px;
			}
			.recent-activity #view-all {
			text-align: right;
			font-size: 14px;
			padding-top: 5px;
			width: 100%;
			}
			.achievements #no-records {
			color: #434749;
			font-size: 12px;
			text-align: center;
			}
			.achievements .achievement {
				margin-bottom: 10px;
				}
				.achievement #icon {
				float: left;
				padding-top: 3px;
				}
				.achievement #info {
				float: left;
				color: #434749;
				font-size: 12px;
				width: 315px;
				margin-left: 5px;
				text-shadow: 0 0 3px rgba(0,0,0,1);
				}
				.achievement #date {
				color: #333;
				font-size: 11px;
				}
				.achievements .achievement a {
					color: #999;
					}
					.achievements .achievement a:hover {
					color: #A07332;
					}
			.achievements .achievement:last-child {
			margin: 0;
			}

/* Talents */

.talents-specs {
	display: block;
	height: 60px;
	z-index: 1;
	}
	.talents-spec {
		display: block;
		float: left;
		padding: 10px;
		margin: 0 16px 0 0;
		height: 40px;
		background: rgba(153,153,153,0.05);
		border-top-left-radius: 5px;
		border-top-right-radius: 5px;
		/*box-shadow: inset 0 0 0 1px rgba(255,255,255,.02), 0 0 4px rgba(0,0,0,.6);*/
		}
		.talents-spec:hover {
		box-shadow:inset 0 2px 1px rgba(255,255,255,.05);
		}
		.talents-spec:hover div .talents-spec-info span#title {
		color: #B38E3F;
		}
		.talents-spec:hover div .talents-spec-info span#points {
		color: #3D4346;
		}
		.talents-spec-active {
			background: rgba(153,153,153,0.07);
			}
			.talents-spec-active div .talents-spec-info span#title {
			color: #fff;
			}
		.talents-spec-icon {
			float: left;
			}
			.talents-spec-icon img {
			box-shadow: inset 0 0 0 1px rgba(255,255,255,.02), 0 0 4px rgba(0,0,0,.6);
			}
		.talents-spec-info {
			float: left;
			padding-left: 10px;
			min-width: 100px;
			}
			.talents-spec-info #title {
			font-size: 16px;
			line-height: 20px;
			font-weight: bold;
			color: #999;
			}
			.talents-spec-info #points {
			}
		.talents-spec-char-selected {
		margin-left: 20px;
		float: left;
		width: 20px; height: 40px;
		background-image: url(../css/images/talents-check.gif);
		background-repeat: no-repeat;
		background-position: center;
		}

.talents {
	display: block;
	/*box-shadow: inset 0 0 0 1px rgba(255,255,255,.02), 0 0 4px rgba(0,0,0,.6);*/
	border-radius: 5px;
	border-top-left-radius: 0;
	overflow: hidden;
	z-index: 2;
	background: rgba(153,153,153,0.07);
	padding: 0 0 23px 0;
	}
	.talents h3 {
	padding: 20px 0 10px 30px;
	}
	.talents-glyphs {
		background: rgba(0,0,0,.8);
		border-radius: 3px;
		box-shadow: inset 0 0 0 1px rgba(255,255,255,.06), 0 0 4px rgba(0,0,0,.6);
		padding: 20px;
		margin: 0 20px 0 20px;
		}
		.talents-glyphs .iconsmall {
		margin: 0;
		}
		.talents-glyphs-column {
			float: left;
			}
			.talents-glyphs-list {
			width: 206px;
			}
			.talents-glyphs-glyph {
				}
				.talents-glyphs-glyph .iconsmall {
				float: left;
				}
				.talents-glyphs-glyph #glyph-name {
				display:block;
				float: left;
				font-size: 12px;
				padding: 4px 0 0 3px;
				}
	.talents-body {
		height:583px;
		}
		.talents-expansion-cata .talents-body {
		height: 385px;
		}
		.talents-tree {
			position: relative;
			width: 204px;
			height: 583px;
			border-radius: 3px;
			margin-left: 23px;
			}
			.talents-expansion-cata .talents-tree {
			height: 383px;
			}
			.talents-tree-bg {
			display: block;
			position: absolute;
			width: 204px;
			height: 554px;
			border-radius: 3px;
			background-repeat: no-repeat;
			opacity: 0.3;
			top: 29px;
			box-shadow: inset 0 0 0 1px rgba(255,255,255,.06), 0 0 4px rgba(0,0,0,.6);
			}
			.talents-expansion-cata .talents-tree-bg {
			height: 354px;
			}
			.talents-tree-title {
				height:24px;
				line-height:24px;
				overflow:hidden;
				padding:0;
				margin:0 auto 5px auto;
				text-align:center;
				background: rgba(0,0,0,.8);
				position: relative;
				display: block;
				border-radius: 3px;
				box-shadow: inset 0 0 0 1px rgba(255,255,255,.06), 0 0 4px rgba(0,0,0,.6);
				}
				.talents-tree-title img {
				display: block;
				position: absolute;
				margin-top: 2px;
				margin-left: 2px;
				border-radius: 3px;
				}

			/* Talent Trees Backgrounds */

			.talents-tree-bg {
			display: block;
			position: absolute;
			width: 204px;
			height: 554px;
			border-radius: 3px;
			background-repeat: no-repeat;
			opacity: 0.4;
			}

			.deathknight-1 { background-image: url(../css/images/backgrounds/deathknight_1.jpg); }
			.deathknight-2 { background-image: url(../css/images/backgrounds/deathknight_2.jpg); }
			.deathknight-3 { background-image: url(../css/images/backgrounds/deathknight_3.jpg); }

			.druid-1 { background-image: url(../css/images/backgrounds/druid_1.jpg); }
			.druid-2 { background-image: url(../css/images/backgrounds/druid_2.jpg); }
			.druid-3 { background-image: url(../css/images/backgrounds/druid_3.jpg); }

			.hunter-1 { background-image: url(../css/images/backgrounds/hunter_1.jpg); }
			.hunter-2 { background-image: url(../css/images/backgrounds/hunter_2.jpg); }
			.hunter-3 { background-image: url(../css/images/backgrounds/hunter_3.jpg); }

			.mage-1 { background-image: url(../css/images/backgrounds/mage_1.jpg); }
			.mage-2 { background-image: url(../css/images/backgrounds/mage_2.jpg); }
			.mage-3 { background-image: url(../css/images/backgrounds/mage_3.jpg); }

			.paladin-1 { background-image: url(../css/images/backgrounds/paladin_1.jpg); }
			.paladin-2 { background-image: url(../css/images/backgrounds/paladin_2.jpg); }
			.paladin-3 { background-image: url(../css/images/backgrounds/paladin_3.jpg); }

			.priest-1 { background-image: url(../css/images/backgrounds/priest_1.jpg); }
			.priest-2 { background-image: url(../css/images/backgrounds/priest_2.jpg); }
			.priest-3 { background-image: url(../css/images/backgrounds/priest_3.jpg); }

			.rogue-1 { background-image: url(../css/images/backgrounds/rogue_1.jpg); }
			.rogue-2 { background-image: url(../css/images/backgrounds/rogue_2.jpg); }
			.rogue-3 { background-image: url(../css/images/backgrounds/rogue_3.jpg); }

			.shaman-1 { background-image: url(../css/images/backgrounds/shaman_1.jpg); }
			.shaman-2 { background-image: url(../css/images/backgrounds/shaman_2.jpg); }
			.shaman-3 { background-image: url(../css/images/backgrounds/shaman_3.jpg); }

			.warlock-1 { background-image: url(../css/images/backgrounds/warlock_1.jpg); }
			.warlock-2 { background-image: url(../css/images/backgrounds/warlock_2.jpg); }
			.warlock-3 { background-image: url(../css/images/backgrounds/warlock_3.jpg); }

			.warrior-1 { background-image: url(../css/images/backgrounds/warrior_1.jpg); }
			.warrior-2 { background-image: url(../css/images/backgrounds/warrior_2.jpg); }
			.warrior-3 { background-image: url(../css/images/backgrounds/warrior_3.jpg); }

			/* End.Talent Trees Backgrounds */

			.talents-tree table {
			opacity: 1;
			}
			.talents-tree table tr td {
			width: 50px;
			height: 50px;
			}

/* Icons */

.iconsmall {
	margin: 0 auto;
	width: 26px;
	height: 26px;
	position: relative;
	}
	.iconsmall ins {
		width: 18px;
		height: 18px;
		display: block;
		position: absolute;
		left: 4px;
		top: 4px;
		z-index: 5;
		background-repeat: no-repeat;
	}
	.iconsmall del {
		width: 26px;
		height: 26px;
		display: block;
		position: absolute;
		left: 0;
		top: 0;
		z-index: 10;
		background-image: url(//wowimg.zamimg.com/images/Icon/small/border/default.png);
		background-repeat: no-repeat;
	}
	.iconsmall a {
		display: block;
		position: absolute;
		left: 3px;
		top: 3px;
		z-index: 13;
	}
	.iconsmall a { width: 20px; height: 20px; background: url(//wowimg.zamimg.com/images/Icon/small/hilite/default.png) no-repeat 20px 0; }
	.iconsmall a:hover {
		background-position: 0 0;
	}

.iconmedium {
	margin: 0 auto;
	width: 44px;
	height: 44px;
	position: relative;
	}
	.iconmedium ins {
		width: 36px;
		height: 36px;
		display: block;
		position: absolute;
		left: 4px;
		top: 4px;
		z-index: 5;
		background-repeat: no-repeat;
	}
	.iconmedium del {
		width: 44px;
		height: 44px;
		display: block;
		position: absolute;
		left: 0;
		top: 0;
		z-index: 10;
		background-image: url(//wowimg.zamimg.com/images/Icon/medium/border/default.png);
		background-repeat: no-repeat;
	}
	.iconmedium a {
		display: block;
		position: absolute;
		left: 3px;
		top: 3px;
		z-index: 13;
	}
	.iconmedium a { width: 38px; height: 38px; background: url(//wowimg.zamimg.com/images/Icon/medium/hilite/default.png) no-repeat 38px 0; }
	.iconmedium a:hover {
		background-position: 0 0;
	}
	.iconmedium div.icon-border {
		position:absolute;
		z-index:11;
		left:1px;
		top:1px;
		width:42px;
		height:42px;
		background:url(../css/images/border.gif) no-repeat;
		}
		.iconmedium div.icon-border#active {
		background-position: -84px 0px;
		}
		.iconmedium div.icon-border#inactive {
		background: none;
		}
		.iconmedium div.icon-border#maxed {
		background-position: -42px 0px;
		}
	.iconmedium div.icon-bubble {
		position:absolute;
		z-index:14;
		width:22px;
		height:23px;
		left:30px;
		top:29px;
		background:url(../css/images/bubble.png) no-repeat;
		padding:2px 0 0;
		font-family:Verdana,sans-serif;
		font-size:12px;
		text-align:center;
		cursor:default;
		}
		.iconmedium div.icon-bubble#active {
		visibility: visible;
		color: rgb(23, 253, 23);
		}
		.iconmedium div.icon-bubble#inactive {
		visibility: hidden;
		}
		.iconmedium div.icon-bubble#maxed {
		visibility: visible;
		color: rgb(231, 186, 0);
		}
	.iconmedium .overlay {
		width: 36px;
		height: 36px;
		display: block;
		position: absolute;
		left: 4px;
		top: 4px;
		z-index: 12;
		background: rgba(0,0,0,.6);
	}
	.iconmedium .talent-dependency {
		display: block;
		position: absolute;
		z-index: 15;
		}
		.iconmedium .talent-dependency-down {
			top: 42px;
			left: 15px;
			width: 15px;
			background:url(../css/images/arrows/down.png) bottom no-repeat;
			}
			.iconmedium .talent-dependency-down#maxed {
			background:url(../css/images/arrows/down2.png) bottom no-repeat;
			}
		.iconmedium .talent-dependency-left {
			top: 15px;
			left: -14px;
			height: 15px;
			width: 15px;
			background:url(../css/images/arrows/left.png) left no-repeat;
			}
			.iconmedium .talent-dependency-left#maxed {
			background:url(../css/images/arrows/left2.png) left no-repeat;
			}
		.iconmedium .talent-dependency-right {
			top: 15px;
			left: 43px;
			height: 15px;
			width: 15px;
			background:url(../css/images/arrows/right.png) right no-repeat;
			}
			.iconmedium .talent-dependency-right#maxed {
			background:url(../css/images/arrows/right2.png) right no-repeat;
			}
		.iconmedium .talent-dependency-leftdown {
			top: 15px;
			left: -36px;
			height: 15px;
			width: 36px;
			background:url(../css/images/arrows/leftdown.png) left no-repeat;
			}
			.iconmedium .talent-dependency-leftdown#maxed {
			background:url(../css/images/arrows/leftdown2.png) left no-repeat;
			}
		.iconmedium .talent-dependency-rightdown {
			top: 15px;
			left: 43px;
			height: 15px;
			width: 36px;
			background:url(../css/images/arrows/rightdown.png) right no-repeat;
			}
			.iconmedium .talent-dependency-rightdown#maxed {
			background:url(../css/images/arrows/rightdown2.png) right no-repeat;
			}
			.iconmedium .talent-dependency-rightdown .talent-dependency-second {
			float: right;
			}
		.iconmedium .talent-dependency-leftdown .talent-dependency-second, .iconmedium .talent-dependency-rightdown .talent-dependency-second {
			margin-top: 15px;
			width: 15px;
			background:url(../css/images/arrows/down.png) bottom no-repeat;
			}
			.iconmedium .talent-dependency-leftdown .talent-dependency-second#maxed, .iconmedium .talent-dependency-rightdown .talent-dependency-second#maxed {
			background:url(../css/images/arrows/down2.png) bottom no-repeat;
			}

#armory_title h3 {
	font-size: 22px;
	display:block;
	padding:0 0 10px 10px;
	box-shadow: 0 2px 0 rgba(255,255,255,.12);
	color:#b38e3f;
}

#armory_arena_teams {
	margin-top: 15px;
	}
	.armory_arena_box {
		float: left;
		border-radius: 5px;
		width: 220px;
		margin-right: 15px;
		box-shadow: inset 0 0 0 1px rgba(255,255,255,.02), 0 0 4px rgba(0,0,0,.6);
		}
		.armory_arena_box:nth-child(1) {
		margin-left: 8px;
		}
		.armory_arena_box:nth-child(3) {
		margin: 0;
		}
		.arena_box_head {
			padding: 10px 20px 10px 20px;
			background: rgba(153,153,153,0.1);
			border-top-left-radius: 5px;
			border-top-right-radius: 5px;
			box-shadow:0 2px 1px rgba(0,0,0,.3), inset 0 -1px 0 rgba(255,255,255,.01);
			height: 117px;
			}
			.armory_arena_box#inactive .arena_box_head {
				background: rgba(153,153,153,0.06);
				}
				.armory_arena_box#inactive .arena_box_head #team-type {
				color: #403c35;
				}
			.arena_box_head #team-type {
			font-size: 40px;
			margin: 0;
			line-height: normal;
			font-family:"Arial Black", Arial, sans-serif;
			font-weight:900;
			letter-spacing: -0.1em;
			color: #c3b6a1;
			}
			.arena_box_head #player-rating {
				margin-bottom: 8px;
				}
				.arena_box_head #player-rating a {
				font-size: 20px;
				font-family:"Arial Black", Arial, sans-serif;
				font-weight:900;
				line-height:29px;
				color: #9A814B;
				border-bottom: 1px dotted #9A814B;
				cursor: help;
				}
			.arena_box_head #player-games {
				margin-bottom: 6px;
				font: normal 12px/1.5 Arial, Verdana, sans-serif;
				}
				.arena_box_head #player-games #player-wins {
				color: #6a9a1e;
				}
				.arena_box_head #player-games #player-loses {
				color: #9a1e1e;
				}
				.arena_box_head #player-games #player-win-ratio {
				color: #434749;
				padding-left: 4px;
				}
		.arena_box_body {
			background: rgba(153,153,153,0.05);
			padding: 10px 20px 10px 20px;
			text-align:center;
			border-bottom-left-radius: 5px;
			border-bottom-right-radius: 5px;
			text-align: left;
			height: 70px;
			}
			.armory_arena_box#inactive .arena_box_body {
			background: rgba(153,153,153,0.02);
			}
			.arena_box_body #team-name {
			color: #C3B6A1;
			font-size: 14px;
			}
			.arena_box_body #team-stats {
				margin-bottom: 6px;
				}
				.arena_box_body #team-stats #team-rating a {
				font-family: Arial, Helvetica, sans-serif;
				font-size: 14px;
				font-weight: bold;
				color: #9A814B;
				border-bottom: 1px dotted #9A814B;
				cursor: help;
				}
				.arena_box_body #team-stats #team-rank a {
				color: #9A814B;
				font-size: 14px;
				font-weight: bold;
				cursor: help;
				}
			.arena_box_body #team-members {
				margin-bottom: 4px;
				}
				.arena_box_body #team-members a {
				float: left;
				margin-right: 5px;
				margin-bottom: 5px;
				}
				.arena_box_body #team-members a:hover {
				box-shadow: 0 0 5px 0px rgba(160,115,50,.5);
				}

/* faction */
.color-tooltip-alliance { color: #247FAA; }
.color-tooltip-horde { color: #b30000; }

/* class */
.color-c1,  .color-c1 a { color: #c69b6d !important; } /* warrior */
.color-c2,  .color-c2 a { color: #f48cba !important; } /* paladin */
.color-c3,  .color-c3 a, .color-g2 { color: #aad372 !important; } /* hunter */
.color-c4,  .color-c4 a, .color-g1 { color: #fff468 !important; } /* rogue */
.color-c5,  .color-c5 a { color: #f0ebe0 !important; } /* priest */
.color-c6,  .color-c6 a { color: #c41e3b !important; } /* death knight */
.color-c7,  .color-c7 a { color: #2359ff !important; } /* shaman */
.color-c8,  .color-c8 a, .color-g3 { color: #68ccef !important; } /* mage */
.color-c9,  .color-c9 a { color: #9382c9 !important; } /* warlock */
.color-c10, .color-c10 a { color: #00ffba !important; } /* monk */
.color-c11, .color-c11 a, .color-g4 { color: #ff7c0a !important; } /* druid */

.meta-socket-requires {
	padding-left: 27px;
}

.online_realm_button, #ucp_characters h1 {
	display:block;
	padding:7px;
	margin-top:10px;
	margin-bottom:10px;
	border-radius:2px;
	-moz-border-radius:2px;
	-webkit-border-radius:2px;
	font-size:14px;
	text-align:center;
}
