APP_NAME="SroCMS"
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://localhost
APP_LOCALE=tr_TR

LOG_CHANNEL=stack

DB_CONNECTION=srocms
DB_HOST=MERT-PC\SQL
DB_PORT=
DB_DATABASE=SroCMS
DB_USERNAME=sa
DB_PASSWORD=111111

DB_HOST_ACC=MERT-PC\SQL
DB_PORT_ACC=
DB_DATABASE_ACC=SRO_VT_ACCOUNT
DB_USERNAME_ACC=sa
DB_PASSWORD_ACC=111111

DB_HOST_LOG=MERT-PC\SQL
DB_PORT_LOG=
DB_DATABASE_LOG=SRO_VT_LOG
DB_USERNAME_LOG=sa
DB_PASSWORD_LOG=111111

DB_HOST_SHARD=MERT-PC\SQL
DB_PORT_SHARD=
DB_DATABASE_SHARD=SRO_VT_SHARD
DB_USERNAME_SHARD=sa
DB_PASSWORD_SHARD=111111

BROADCAST_DRIVER=log
CACHE_DRIVER=file
QUEUE_CONNECTION=sync
SESSION_DRIVER=file
SESSION_LIFETIME=120

MAIL_MAILER=smtp
MAIL_HOST=smtp.mailtrap.io
MAIL_PORT=2525
MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_ENCRYPTION=null
